.header-container {
    display: flex;
    padding: 60px;
}

.logo-container {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 1.5rem;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    width: 70%;
    font-family: Lato;
    font-weight: 300;
}

button {
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.button::after{
    content: "";
    background-color: black;
    height: 1px;
    width: 0;
    margin: auto;
    display: block;

}

.button:hover::after{
    width: 100%;
    transition: width 0.4s linear;
}
