.footer {
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: fit-content;
    padding: 45px 0;

    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.social-media{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.copyright {
    font-size: 14px;
    color: darkgray;
}